name: CI/CD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      actions: read

    env:
      CI_COMMIT_MESSAGE: "Continuous Integration Build Artifacts"
      CI_COMMIT_AUTHOR: "Continuous Integration"
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Docker image
        run: docker build -t ai-project:latest .

      - name: Build and Push to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: abinash200501/ai-project:latest

        run: |
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker tag ai-project:latest $DOCKER_USERNAME/ai-project:latest
          docker push $DOCKER_USERNAME/ai-project:latest
